<div class="col s12 m12">
    <div class="card blue-grey lighten-1">
        <div class="card-content white-text">
            <p>{{this.reply_content}}</p>
            <p>Posted by: {{this.user.name}} on {{format_date this.date_replied}}</p>
        </div>

    </div>
</div>